<%- include('layout/header', { title: '二手交易商城 - 购物车' })%>
<div class="container margin-top-20">
    <div class="shopping-car-container">
        <div class="car-headers-menu">
            <div class="row">
                <div class="col-md-1 car-menu">
                    <label><input type="checkbox" id="check-goods-all" /><span id="checkAll">全选</span></label>
                </div>
                <div class="col-md-4 car-menu">求购商品信息</div>
                <div class="col-md-2 car-menu">求购数量</div>
                <div class="col-md-1 car-menu">单价</div>
                <div class="col-md-2 car-menu">金额</div>
                <div class="col-md-2 car-menu">操作</div>
            </div>
        </div>
        <div class="goods-content">
            <!--goods display-->
            <% cartList.forEach(function(item){ %>
            <div class="goods-item" data-begid="<%= item.beg.id %>" data-begcartid="<%= item.id %>"
                data-count='<%= item.beg.count %>'>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-1 car-goods-info">
                            <label><input type="checkbox" class="goods-list-item" /></label>
                        </div>
                        <div class="col-md-4 car-goods-info goods-image-column">
                            <span id="goods-info">
                                <div><b><%= item.beg.name %></b></div> <%= item.beg.remark %>
                            </span>
                        </div>
                        <div class="col-md-2 car-goods-info">
                            <span><%= item.beg.count %></span>
                        </div>
                        <div class="col-md-1 car-goods-info goods-price">
                            <span>￥</span><span class="single-price"><%= item.beg.price %>.00</span>
                        </div>
                        <div class="col-md-2 car-goods-info goods-money-count"><span>￥</span><span
                                class="single-total"><%= item.beg.count * item.beg.price %>.00</span></div>
                        <div class="col-md-2 car-goods-info goods-operate">
                            <button onclick="delCart('<%= item.id %>')" type="button"
                                class="btn btn-danger item-delete">删除</button>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        <div class="panel panel-default">
            <div class="panel-body bottom-menu-include">
                <div class="col-md-1 check-all-bottom bottom-menu">
                    <label>
                        <input type="checkbox" id="checked-all-bottom" />
                        <span id="checkAllBottom">全选</span>
                    </label>
                </div>
                <div class="col-md-1 bottom-menu">
                </div>
                <div class="col-md-5 bottom-menu">

                </div>
                <div class="col-md-2 bottom-menu">
                    <span>合计：<span id="selectGoodsMoney">0.00</span></span>
                </div>
                <div onclick="submitMoney()" class="col-md-1 bottom-menu submitData submitDis">
                    结算
                </div>
            </div>
        </div>
        <!--是否勾选商品提示-->
        <div class="modal fade" tabindex="-1" role="dialog" id="selectItemTip" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
                    </div>
                    <div class="modal-body">
                        请选择要删除的商品！
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    function submitMoney() {
        var begCartIds = []
        var begIds = []
        var items = $(".goods-item .goods-list-item:checked").parents('.goods-item')
        for (let i = 0; i < items.length; i++) {
            begCartIds.push(items[i].dataset.begcartid)
            begIds.push(items[i].dataset.begid)
        }
        if (confirm("确定结算吗？")) {
            begCartIds.forEach(function (item, idx) {
                ajax.post('/api/begcart/jiesuan', {
                    begId: begIds[idx],
                    begCartId: item
                }, function (err, data) {
                    if (err) {
                        alert(err)
                        return
                    }
                })
            })

            setTimeout(function () {
                location.reload()
                alert('结算成功')
            }, 1500)
        }
    }


    function ShoppingCarObserver(elInput, isAdd) {
        this.elInput = elInput
        this.parents = this.elInput.parents('.goods-item')
        this.count = parseInt(this.elInput.val())
        this.isAdd = isAdd
        this.singlePrice = parseFloat(this.parents.find('.single-price').text())
        this.computeGoodsMoney = function () {
            var moneyCount = this.count * this.singlePrice
            var singleTotalEl = this.parents.find('.single-total')
            console.log(moneyCount)
            singleTotalEl.empty().append(moneyCount)
        }
        this.showCount = function () {
            var isChecked = this.parents.find('.goods-list-item')[0].checked
            var GoodsTotalMoney = parseFloat($('#selectGoodsMoney').text())
            var goodsTotalCount = parseInt($('#selectGoodsCount').text())
            if (this.elInput) {
                if (this.isAdd) {
                    ++this.count
                    if (isChecked) {
                        $('#selectGoodsMoney').empty().append(GoodsTotalMoney + this.singlePrice)
                        $('#selectGoodsCount').empty().append(goodsTotalCount + 1)
                    }
                } else {
                    if (parseInt(this.count) <= 1) {
                        return
                    } else {
                        --this.count
                        if (isChecked) {
                            $('#selectGoodsMoney').empty().append(GoodsTotalMoney - this.singlePrice)
                            $('#selectGoodsCount').empty().append(goodsTotalCount - 1)
                        }
                    }
                }
                this.elInput.val(this.count)
            }
        }
        this.checkIsAll = function () {
            var checkLen = $('.goods-list-item:checked').length
            if (checkLen > 0) {
                $('.submitData').removeClass('submitDis')
            } else {
                $('.submitData').addClass('submitDis')
            }
            if ($('.goods-item').length === checkLen) {
                $('#checked-all-bottom, #check-goods-all').prop('checked', true)
            } else {
                $('#checked-all-bottom, #check-goods-all').prop('checked', false)
            }
        }
        this.checkedChange = function (isChecked) {
            if (isChecked === undefined) {
                var isChecked = this.parents.find('.goods-list-item')[0].checked
            }
            var itemTotalMoney = parseFloat(this.parents.find('.single-total').text())
            var GoodsTotalMoney = parseFloat($('#selectGoodsMoney').text())
            var itemCount = parseInt(this.parents.find('.goods-count').val())
            var goodsTotalCount = parseInt($('#selectGoodsCount').text())
            if (isChecked) {
                $('#selectGoodsMoney').empty().append(itemTotalMoney + GoodsTotalMoney)
                $('#selectGoodsCount').empty().append(itemCount + goodsTotalCount)
            } else {
                if (GoodsTotalMoney - itemTotalMoney === 0) {
                    $('#selectGoodsMoney').empty().append('0.00')
                    if (!$('.submitData').hasClass('submitDis')) {
                        $('.submitData').addClass('submitDis')
                    }
                } else {
                    $('#selectGoodsMoney').empty().append(GoodsTotalMoney - itemTotalMoney)
                }
                $('#selectGoodsCount').empty().append(goodsTotalCount - itemCount)
            }
        }
        this.deleteGoods = function () {
            var isChecked = this.parents.find('.goods-list-item')[0].checked
            if (isChecked) {
                this.checkedChange(false)
            }
            this.parents.remove()
            this.checkOptions()
        }
        this.checkOptions = function () {
            if ($('#check-goods-all')[0].checked) {
                if ($('.goods-list-item').length <= 0) {
                    $('#checked-all-bottom, #check-goods-all').prop('checked', false)
                }
            }
        }
    }

    function checkedAll(_this) {
        if ($('.goods-item').length <= 0) {
            $('.submitData').addClass('submitDis')
        } else {
            $('.submitData').removeClass('submitDis')
        }
        for (var i = 0; i < $('.goods-item').length; i++) {
            var elInput = $('.goods-item').eq(i).find('.goods-list-item')
            var isChecked = $('.goods-item').eq(i).find('.goods-list-item')[0].checked
            var checkAllEvent = new ShoppingCarObserver(elInput, null)
            if (_this.checked) {
                if (!isChecked) {
                    elInput.prop('checked', true)
                    checkAllEvent.checkedChange(true)
                }
            } else {
                if (!$('.submitData').hasClass('submitDis')) {
                    $('.submitData').addClass('submitDis')
                }
                if (isChecked) {
                    elInput.prop('checked', false)
                    checkAllEvent.checkedChange(false)
                }
            }
        }
    }
    $('#check-goods-all').on('change', function () {
        if (this.checked) {
            $('#checked-all-bottom').prop('checked', true)
        } else {
            $('#checked-all-bottom').prop('checked', false)
        }
        checkedAll(this)
    })
    $('#checked-all-bottom').on('change', function () {
        if (this.checked) {
            $('#check-goods-all').prop('checked', true)
        } else {
            $('#check-goods-all').prop('checked', false)
        }
        checkedAll(this)
    })
    $('.goods-list-item').on('change', function () {
        var tmpCheckEl = $(this)
        var checkEvent = new ShoppingCarObserver(tmpCheckEl, null)
        checkEvent.checkedChange()
        checkEvent.checkIsAll()
    })
    $('.goods-content').on('click', '.car-decrease', function () {
        var goodsInput = $(this).parents('.input-group').find('.goods-count')
        var decreaseCount = new ShoppingCarObserver(goodsInput, false)
        decreaseCount.showCount()
        decreaseCount.computeGoodsMoney()
    })

    function addCount(max, that) {

        var goodsInput = $(that).parents('.input-group').find('.goods-count')
        var addCount = new ShoppingCarObserver(goodsInput, true)
        console.log(addCount.elInput[0].value >= max)
        if (parseInt(addCount.elInput[0].value) >= parseInt(max)) {
            alert("没有那么多库存了")
            return
        }
        var goodsInput = $(that).parents('.input-group').find('.goods-count')
        var addCount = new ShoppingCarObserver(goodsInput, true)
        addCount.showCount()
        addCount.computeGoodsMoney()
    }
    $('.deleteSure').on('click', function () {
        if (deleteGoods !== null) {
            deleteGoods.deleteGoods()
        }
        $('#deleteItemTip').modal('hide')
    })
    $('#deleteMulty').on('click', function () {
        if ($('.goods-list-item:checked').length <= 0) {
            $('#selectItemTip').modal('show')
        } else {
            $('#deleteMultyTip').modal('show')
        }
    })
    $('.deleteMultySure').on('click', function () {
        for (var i = 0; i < $('.goods-list-item:checked').length; i++) {
            var multyDelete = new ShoppingCarObserver($('.goods-list-item:checked').eq(i), null)
            multyDelete.deleteGoods()
            i--
        }
        multyDelete.checkOptions()
        $('#deleteMultyTip').modal('hide')
    })

    function delCart(begCartId) {
        if (confirm("你确定删除吗？")) {
            ajax.post('/api/begcart/delete', {
                begCartId
            }, function (err, data) {
                if (err) {
                    alert(err)
                    return
                }
                location.reload()
                alert('删除成功')

            })
        }
    }
</script>

<%- include('layout/footer')%>