<%- include('layout/header', { title: '商城' })%>
<h4 style="text-align: center;margin: 20px 0;">求购商品</h4>
<div class="mall">
    <div class="left">
        <div style="width: 80%;" class="input-group mb-3">
            <input id="keyword-input" type="text" class="form-control" placeholder="求购商品搜索关键字"
                aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button onclick="search()" class="btn btn-outline-secondary" type="button"
                    id="button-addon2">搜索</button>
            </div>
        </div>
        <div class="type-list">
            <% typesData.forEach(function(item) { %>
            <div class=" dropright">
                <button type="button" class="btn dropdown-toggle type-list-item type" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <%= item.name %>
                </button>
                <div class="dropdown-menu">
                    <% item.children.forEach(function(child) { %>
                    <a class="dropdown-item" onclick="filterBeg('<%= child.id %>')"><%= child.name %></a>
                    <% }) %>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
    <div class="right">
        <ul class="begs-list">
            <% begsData.begList.forEach(function(item) { %>
            <li class="item">
                <div class="form-item">
                    <span class="label">商品名：</span><span class="label"><%= item.name %></span>
                </div>
                <div class="form-item">
                    <span class="label">数量：</span><span class="label"><%= item.count %></span>
                </div>
                <div class="form-item">
                    <span class="label">单价：</span><span class="label">￥<%= item.price %>.00元</span>
                </div>
                <div class="form-item">
                    <span class="label">分类：</span><span class="label"><%= item.typeName %></span>
                </div>
                <div class="form-item">
                    <div class="label">详情：</div>
                    <textarea readonly="readonly" rows='4' cols='30'><%= item.remark %></textarea>
                </div>
                <div style="display: flex;">
                    <button onclick="sendMsg('<%= item.userId %>','<%= item.user.userName%>')"
                        style="margin-left: 28px;" type="button" class="btn btn-primary">点击联系</button>
                    <button
                        onclick="addToBegCart('<%= item.id %>','<%= item.name %>','<%= item.userId %>','<%= item.user.userName %>')"
                        type="button" style="margin-left: 18px;" class="btn btn-primary">接单</button>
                </div>
            </li>
            <% }) %>
        </ul>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item page-prev-item disabled">
                    <a class="page-link" onclick="prevPage()" tabindex="-1" aria-disabled="true">上一页</a>
                </li>
                <li class="page-item page-num-item active"><a onclick="toPage(0)" class="page-link">1</a></li>
                <% for(var i = 1 ;i<Math.ceil(begsData.count/5);i++) { %>
                <li class="page-item page-num-item"><a onclick="toPage('<%= i %>')" class="page-link"><%= i+1 %> </a>
                </li>
                <% } %>
                <li class="page-item page-next-item">
                    <a onclick="nextPage()" class="page-link">下一页</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<script>
    $(function () {



    })

    function addToBegCart(begId, begName, userId, userName) {
        console.log(begId, userId, userName)
        ajax.post('/api/begcart/create', {
            begId: parseInt(begId),
            userId: parseInt(userId),
            userName,
            begName
        }, function (err, data) {
            if (err) {
                alert(err)
                return
            }
            // 改为已接
            ajax.post('/api/beg/edit', {
                begId: parseInt(begId),
                isPick: true
            }, function (err, data) {
                if (err) {
                    alert(err)
                    return
                }
                ajax.post('/api/begged/create', {
                    begId: parseInt(begId)
                }, function (err, data) {
                    if (err) {
                        alert(err)
                        return
                    }
                    location.reload()
                    alert('加入成功')
                })
            })
        })

    }



    window.mallPageIndex = 0;

    function search() {
        var keyword = $('#keyword-input').val()
        ajax.get('/api/beg/list/0?keyword=' + keyword, function (err, data) {
            if (err) {
                alert(err)
                return
            }
            console.log(data)
            $(".begs-list").empty()
            data.begList.forEach(item => {
                $(".begs-list").append(`
                <li class="item">
                        <div class="form-item">
                            <span class="label">商品名：</span><span class="label">${item.name}</span>
                        </div>
                        <div class="form-item">
                            <span class="label">数量：</span><span class="label">${item.count}</span>
                        </div>
                        <div class="form-item">
                            <span class="label">单价：</span><span class="label">￥${item.price}.00元</span>
                        </div>
                        <div class="form-item">
                            <span class="label">分类：</span><span class="label">${item.typeName}</span>
                        </div>
                        <div class="form-item">
                            <div class="label">详情：</div>
                            <textarea readonly="readonly" rows='4' cols='30'>${item.remark}</textarea>
                        </div>
                        <div style="display: flex;">
                            <button onclick="sendMsg('${item.userId}','${item.user.userName}')"
                                style="margin-left: 28px;" type="button" class="btn btn-primary">点击联系</button>
                            <button
                                onclick="addToBegCart(${item.id},'${item.name}',${item.userId},'${item.userName}')"
                                type="button" style="margin-left: 18px;" class="btn btn-primary">接单</button>
                        </div>
                    </li>
                `)
            })
        })
    }


    function filterBeg(sort2) {
        ajax.get('/api/beg/list/0?sort2=' + sort2, function (err, data) {
            if (err) {
                alert(err)
                return
            }
            console.log(data)
            $(".begs-list").empty()
            data.begList.forEach(item => {
                $(".begs-list").append(`
                <li class="item">
                        <div class="form-item">
                            <span class="label">商品名：</span><span class="label">${item.name}</span>
                        </div>
                        <div class="form-item">
                            <span class="label">数量：</span><span class="label">${item.count}</span>
                        </div>
                        <div class="form-item">
                            <span class="label">单价：</span><span class="label">￥${item.price}.00元</span>
                        </div>
                        <div class="form-item">
                            <span class="label">分类：</span><span class="label">${item.typeName}</span>
                        </div>
                        <div class="form-item">
                            <div class="label">详情：</div>
                            <textarea readonly="readonly" rows='4' cols='30'>${item.remark}</textarea>
                        </div>
                        <div style="display: flex;">
                            <button onclick="sendMsg('${item.userId}','${item.user.userName}')"
                                style="margin-left: 28px;" type="button" class="btn btn-primary">点击联系</button>
                            <button
                                onclick="addToBegCart(${item.id},'${item.name}',${item.userId},'${item.userName}')"
                                type="button" style="margin-left: 18px;" class="btn btn-primary">接单</button>
                        </div>
                    </li>
                `)
            })
        })
    }

    function toPage(idx) {
        window.mallMaxIdx = Math.ceil('<%- begsData.count %>' / 5) - 1
        window.mallPageIndex = idx
        renderGoodList(idx)
    }

    function nextPage() {
        var idx = ++window.mallPageIndex
        renderGoodList(idx)
    }

    function prevPage() {
        var idx = --window.mallPageIndex
        renderGoodList(idx)
    }

    function renderGoodList(idx) {
        window.mallMaxIdx = Math.ceil('<%- begsData.count %>' / 5) - 1
        $('.page-num-item').removeClass("active")
        $($('.page-num-item')[idx]).addClass("active")
        if (idx != 0) {
            $('.page-prev-item').removeClass("disabled")
        } else {
            $('.page-prev-item').addClass("disabled")
        }
        if (idx == mallMaxIdx) {
            $('.page-next-item').addClass("disabled")
        } else {
            $('.page-next-item').removeClass("disabled")
        }
        ajax.get('/api/beg/list/' + idx, function (err, data) {
            if (err) {
                alert(err)
                return
            }
            console.log(data)
            $(".begs-list").empty()
            data.begList.forEach(item => {
                $(".begs-list").append(`
                <li class="item">
                        <div class="form-item">
                            <span class="label">商品名：</span><span class="label">${item.name}</span>
                        </div>
                        <div class="form-item">
                            <span class="label">数量：</span><span class="label">${item.count}</span>
                        </div>
                        <div class="form-item">
                            <span class="label">单价：</span><span class="label">￥${item.price}.00元</span>
                        </div>
                        <div class="form-item">
                            <span class="label">分类：</span><span class="label">${item.typeName}</span>
                        </div>
                        <div class="form-item">
                            <div class="label">详情：</div>
                            <textarea readonly="readonly" rows='4' cols='30'>${item.remark}</textarea>
                        </div>
                        <div style="display: flex;">
                            <button onclick="sendMsg('${item.userId}','${item.user.userName}')"
                                style="margin-left: 28px;" type="button" class="btn btn-primary">点击联系</button>
                            <button
                                onclick="addToBegCart(${item.id},'${item.name}',${item.userId},'${item.userName}')"
                                type="button" style="margin-left: 18px;" class="btn btn-primary">接单</button>
                        </div>
                    </li>
                `)
            })
        })
    }

    function sendMsg(userId, userName) {
        window.location.href = '/send/' + userId + '/' + userName
    }
</script>

<%- include('layout/footer')%>