<%- include('layout/header', { title: '我发布的商品' })%>

<div class="container mygood-content">
    <button id="add-btn" type="button" class="btn btn-success">发布商品</button>
    <ul class="product-list" style="margin-top: 20px;">
        <% goodList.forEach(function(item) { %>
        <li class="item">
            <div class="pic-box" style="margin-bottom:0;">
                <img width="100%" src="<%= item.image %>" alt="" srcset="">
            </div>
            <div class="title">
                <%= item.name %>
            </div>
            <div class="prize" style="margin: 10px 0;">
                ￥ <%= item.price %>.0元
            </div>
            <div class="type" style="color:#888;margin-bottom: 10px;"><%= item.typeName %></div>
            <div class="tools">
                <i data-id="<%= item.id %>" onclick="editMyGood(this)" class="iconfont iconbianji"></i>
                <i id="del-my-good" data-id="<%= item.id %>" onclick="deleteMyGood(this)"
                    class="iconfont iconshanchu"></i>
            </div>
        </li>
        <% }) %>

    </ul>
</div>

<script>
    $(function () {
        var $add = $('#add-btn')
        $add.click(function () {
            console.log("click")
            window.location.href = '/addgood'
        })

    })

    function editMyGood(e) {
        window.location.href = '/good/edit/' + e.dataset.id
    }

    function deleteMyGood(e) {

        console.log("click", e.dataset.id)

        if (confirm("你确定删除吗？")) {

            ajax.post('/api/good/delete', {
                goodId: e.dataset.id
            }, function (err, data) {
                if (err) {
                    alert(err)
                    return
                }
                window.location.href = '/mygood'
                alert('删除成功')

            })
        }

    }
</script>

<%- include('layout/footer')%>