<%- include('layout/header', { title: '商城' })%>
<h4 style="text-align: center;margin: 20px 0;">"<%= keyword %>"的搜索结果：</h4>
<div class="mall">
    <ul class="product-list">
        <% goodsData.goodList.forEach(function(item) { %>
        <li class="item">
            <div class="pic-box" onclick="toDetail('<%= item.id %>')">
                <img width="100%" src="<%= item.image %>" alt="" srcset="">
            </div>
            <div class="title">
                <%= item.name %>
            </div>
            <div class="prize">
                ￥ <%= item.price %>.0元
            </div>
            <button
                onclick="addToCart('<%= item.id %>','<%= item.count %>','<%= item.userId %>','<%= item.user.userName %>')"
                type="button" class="btn btn-primary">加入购物车</button>
        </li>
        <% }) %>
    </ul>
</div>

<script>
    $(function () {



    })

    function addToCart(goodId, max, ownerId, ownerName) {
        console.log(goodId)
        ajax.get('/api/cart/exit/' + goodId, function (err, data) {
            if (err) {
                alert(err)
                return
            }
            console.log(data)
            if (data) {
                if (data.quantity >= max) {
                    alert('没有库存了')
                    return
                }
                ajax.post('/api/cart/add', {
                    cartId: data.id,
                    quantity: ++data.quantity
                }, function (err, data) {
                    if (err) {
                        alert(err)
                        return
                    }
                    setTimeout(function () {
                        alert('加入成功')
                    }, 300)

                })
            } else {
                ajax.post('/api/cart/create', {
                    goodId,
                    ownerId,
                    ownerName
                }, function (err, data) {
                    if (err) {
                        alert(err)
                        return
                    }
                    setTimeout(function () {
                        alert('加入成功')
                    }, 300)

                })
            }

        })

    }
</script>

<%- include('layout/footer')%>